@model IEnumerable<NotForgottenTwo.Models.ProfilePage>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .tableColumn {
        padding: 2px 2px 2px 2px;
    }

    .tableColumnLeftPaddingMore {
        padding-left: 10px;
        padding-bottom: 2px;
        padding-right: 2px;
        padding-top: 2px;
    }

    .EditDeleteButton {
        font-size: smaller;
    }



    .hovereffect {
        width: 100%;
        height: 100%;
        float: left;
        overflow: hidden;
        position: relative;
        text-align: center;
        cursor: default;
    }

        .hovereffect .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            overflow: hidden;
            top: 0;
            left: 0;
        }

        .hovereffect img {
            display: block;
            position: relative;
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
        }

        .hovereffect:hover img {
            filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
            filter: grayscale(1) blur(3px);
            -webkit-filter: grayscale(1) blur(3px);
            -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
            transform: scale(1.2);
        }

        .hovereffect h2 {
            text-transform: uppercase;
            text-align: center;
            position: relative;
            font-size: 17px;
            padding: 10px;
            background: rgba(0, 0, 0, 0.6);
        }

        .hovereffect a.info {
            display: inline-block;
            text-decoration: none;
            padding: 7px 14px;
            border: 1px solid #fff;
            margin: 50px 0 0 0;
            background-color: transparent;
        }

            .hovereffect a.info:hover {
                box-shadow: 0 0 5px #fff;
            }

        .hovereffect a.info, .hovereffect h2 {
            -webkit-transform: scale(0.7);
            -ms-transform: scale(0.7);
            transform: scale(0.7);
            -webkit-transition: all 0.4s ease-in;
            transition: all 0.4s ease-in;
            opacity: 0;
            filter: alpha(opacity=0);
            color: #fff;
            text-transform: uppercase;
        }

        .hovereffect:hover a.info, .hovereffect:hover h2 {
            opacity: 1;
            filter: alpha(opacity=100);
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }

    .menu-category {
        display: inline-block;
        margin: 0.25rem;
        padding: 1rem;
        width: 100%;
    }
</style>



@if (Model.Count() == 0)
{
    <br/>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-10 col-lg-offset-1">
                    <h4 >You seem to have no stories yet!</h4>
                </div>
                </div>
            <div class="row">
                <div class="well col-xs-10 col-lg-offset-1">
                    <div class="col-md-4">
                        <div class="pull-right">
                            <a class="btn btn-success" href="@Url.Action("Create","ProfilePages")">Create New Story Book</a>&nbsp;Or 
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="pull-left">
                            @Html.Partial("_SearchPeople", new NotForgottenTwo.Models.Autocomplete())
                        </div>
                    </div>
                </div>
            </div>
      </div>
   </div>
}
else
{
    <h3>Story Books</h3>
    <p>
        @Html.ActionLink("New Story Book", "Create") | @Html.ActionLink("My Stories", "Index", "Stories")  | @Html.ActionLink("My Story Books", "OnlyMyStoryBooks", "ProfilePages")
    </p>




    <div id="posts" class="row">



        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12  item">
                <div class="hovereffect">
                    @if (ViewBag.IsDebugMode)
                    {
                        <img class="img-responsive thumbnail" src="@Url.Action("GetImage", new { ImageLocation = item.ProfilePicture })" alt="">
                    }
                    else
                    {
                        <img class="img-responsive thumbnail" src="@string.Format("{0}/{1}", @ViewBag.BlobLocation, @item.ProfilePicture)" alt="">
                    }

                    <div class="overlay">
                        <h2>@Html.DisplayFor(modelItem => item.Name)</h2>
                        @Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { @class = "info" })
                    </div>
                </div>
            </div>
        }

    </div>
}



@section Scripts{

    <script language="javascript" , type="text/javascript">

        $.getScript('//cdn.jsdelivr.net/isotope/1.5.25/jquery.isotope.min.js', function () {

            /* activate jquery isotope */
            $('#posts').imagesLoaded(function () {
                $('#posts').isotope({
                    itemSelector: '.item'
                });
            });

        });
    </script>

}
