@model NotForgottenTwo.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security



<style>

    .facebookLoginButton {
        background-image: url('../../Content/Images/facebook login.png');
    }

</style>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (loginProviders.Count() == 0) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders)
                    {

                        if (p.AuthenticationType.ToUpper() == "FACEBOOK")
                        {
                            <button type="submit" class="btn btn-lg btn-block btn-social btn-facebook" id="@p.AuthenticationType" name="provider" 
                                    value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <i class="fa fa-facebook"></i>
                                  Continue with Facebook</button>

                        }
                        else if (p.AuthenticationType.ToUpper() == "GOOGLE")
                        {
                            <button type="submit" class="btn btn-lg btn-block btn-social btn-google" id="@p.AuthenticationType" name="provider"
                                    value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                <span class="fa fa-google"></span>
                                Continue with Google
                            </button>
                        }
                        else
                        {
                        <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">@p.AuthenticationType</button>

                        }
                    }
                </p>
            </div>
        }
    }
}
